# Ignore parent folders
../
../../
*

# Allow only project files
!*.py
!*.md
!requirements.txt
!templates/
!templates/**
!.gitignore

# Ignore virtual env
venv/
.venv/

# Ignore generated folders
videos/
audios/
trimmed/

# Cache
__pycache__/
